[2021-04-27 15:51] martinjt opened #724 "Managing the HttpClient for Cosmos"
I'm attempting to get CosmosDbTriggers working against the cosmos emulator.  Specifically, this is a problem when the emulator runs with a different hostname (i.e. part of a docker-compose).

This details how to do disable SSL validation, however, this isn't an access level we have in the CosmosDbTrigger attribute.
https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator?tabs=cli%2Cssl-nets

[2021-05-05 13:18] cash1981 commented on #14
We would also like to see this feature

[2021-05-06 14:36] v-anvari commented on #722
Hi @chaos-ui , Can you provide us more information on this scenario. Are you looking for a fix, can you explain us what is this issue regarding.

[2021-05-06 14:38] v-anvari commented on #724
cc @ealsur , Do you have any insights here, is this supported.

[2021-05-06 14:41] v-anvari commented on #716
Hi @martinsmith123456 , Let us know if this can be closed as the required information is provided

[2021-05-06 15:37] martinsmith123456 commented on #716
Yes thanks, I'll add retry policy attributes to all my Comsos triggered functions. Hopefully that will solve this!

[2021-05-06 15:37] #716 closed, assigned to nobody

[2021-05-06 16:10] ealsur commented on #724
No, this is not possible, the internal HttpClient or configuration is not accessible.

[2021-05-06 17:16] v-anvari commented on #724
Thank you @ealsur

Hi @martinjt , Let us know if you have any further queries

[2021-05-06 18:31] martinjt commented on #724
Thanks both,. The question isn't whether it's possible though, it's whether you'd accept a PR that makes it possible.

There are some options in the ticket that would make it accessible using the HttpClientFactory approach that the underlying Cosmos SDK providers (which the webjobs ask is hiding right now)

[2021-05-06 21:57] ealsur commented on #724
@martinjt DocumentClient does not allow you to inject the HttpClient instance. For that, it would require https://github.com/Azure/azure-webjobs-sdk-extensions/pull/717 to be merged and the new extension to be released/integrated in Azure.

[2021-05-08 01:45] chaos-ui commented on #722
Hello, I am still getting the hang of things around here I apologize this was a potential fix for an error that was ran in GitHub actions intended to run it on my machine to see if I got the same errors and then present those results however I believe I may have posted it in the wrong area I'm unsure thank you for asking and I definitely appreciate your help and will continue to try and do this co

[2021-05-10 07:06] CasperWSchmidt commented on #486
@fabiocav any news here?

[2021-05-10 09:05] v-anvari commented on #722
Thank you for the update @chaos-ui , Closing this issue here. Let us know if you require any further help.

[2021-05-11 10:00] ghost commented on #724
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-14 11:00] #724 closed, assigned to nobody

[2021-05-20 15:35] v-anvari commented on #606
Hi @pablocastillaquintas , Apologies for the delayed response, the issue was somehow lost in between the stack. You can access the output by adding different output bindings - [Triggers and bindings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings?tabs=csharp).

If you talking about the Http Response class, then here are few docs:
[Http Response Message](https://

[2021-05-24 13:20] jmullen974 opened #726 "Reference to Microsoft.Azure.WebJobs.Extensions.Http 3.* is pulling in unlisted package version 3.1.1"
My PackageReference to Microsoft.Azure.WebJobs.Extensions.Http 3.* is pulling in unlisted package version 3.1.1

#### Repro steps

1. Include the following in a .csproj file:
`<PackageReference Include="Microsoft.Azure.WebJobs.Extensions.Http" Version="3.*" />`

2. Check the package version that was pulled in by Nuget.

#### Expected behavior

Nuget should pull in the latest stable 3.* version whi

[2021-05-24 16:00] ghost commented on #606
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-25 12:32] v-anvari commented on #606
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-05-25 12:32] #606 closed

[2021-06-08 02:28] bandarum opened #727 "How to pass parameter using Cosmosclient object and update the property LimitToEndpoint"
var client = new CosmosClient(endpoint, masterKey, new CosmosClientOptions()
{
LimitToEndpoint = true,
ConnectionMode = Microsoft.Azure.Cosmos.ConnectionMode.Gateway
});
LimitToEndpoint = true,

[2021-06-08 04:02] bandarum opened #728 "How do we can pass the parameter (LimitToEndpoint=true) in cosmosclient object when we create the ComosDbtrigger using C#"
How do we can pass the parameter (LimitToEndpoint=true) in cosmosclient object when we create the ComosDbtrigger using C#

var client= new CosmosClient(endpoint,masterKey,CosmosClientOptions)
{
LimitToEndpoint=true,
ConnectionMode=Microsoft.Azure.Cosmos.ConnectionMode.GateWay
};

We are getting this error when we pass LimitToEndpoint in host.json.Please suggest the solution for us

host.json:
----

[2021-06-09 16:33] gautamsamal commented on #14
@MisinformedDNA For the time being, does it make sense to poll the file share and find out changes based on LastModifiedAt and Length? We also need to have an active mapping or table somewhere to compare the changes in the share - add, delete, modified.

[2021-06-10 22:21] MisinformedDNA commented on #14
@gautamsamal A SHA is probably best, but I just use LastModifiedAt. Length can be misleading if the content changes but the length stays the same.

[2021-06-16 08:42] CasperWSchmidt commented on #486
Still nothing? I'm amazed that a bug/severe limitation like this get so little attention :(

[2021-06-16 21:16] bernarden opened #729 "Ability to specify UserAgentSuffix for CosmosDbTriggerAttribute and CosmosDBAttribute"
After a brief investigation I found that UserAgentSuffix is always hardcoded to the same value [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/a0fb2011acfa88126d9eecc285d7a7f8283ccbe5/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerAttributeBindingProvider.cs#L22). It would be good to be able to specify the UserAgentSuffix on CosmosDBTriggerAttribute and CosmosDBAttribute

[2021-06-24 05:38] rahul230691 commented on #486
@CasperWSchmidt did you find any workaround for this? I'm also facing the same issue with enum. @fabiocav can we expect any help on this please?

After adding the line what @ankitkumarr mentioned, getting following error -

System.TypeLoadException: 'Could not load type 'Microsoft.AspNetCore.Mvc.Formatters.Json.Internal.MvcJsonMvcOptionsSetup' from assembly 'Microsoft.AspNetCore.Mvc.Formatters.Jso

[2021-06-24 10:41] CasperWSchmidt commented on #486
@rahul230691 the only workaround I know of is to do the deserialization yourself using Newtonsoft/Json.Net but this is not easy if you have values in both querystring and body.

[2021-07-01 15:13] #610 closed

[2021-07-08 20:29] ealsur commented on #729
Could you describe the scenario? Would you want it to be set to the Function name or some custom value?

[2021-07-09 03:42] MikeNicholls opened #731 "RBAC support for Cosmos DB change feed trigger"
The v2 Cosmos DB SDK was replaced with v3 in #717.  The v3 SDK supports [RBAC](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac), which has a specific permission (`Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/readChangeFeed`) for reading a container's change feed.

Currently the trigger does not support RBAC, and requires a [primary key](https://docs.microsoft.co

[2021-07-11 02:57] bernarden commented on #729
We are currently trying to optimise our Cosmos DB usage i.e. we want to identify number of requests and their costs for each of the Azure Function Apps we have (~35). As part of this process we updated all our code to specify user agent to be the same as the name of the Azure Functions App it's hosted on. The only functions where we couldn't do this are the functions that still use CosmosDbTrigger

[2021-07-14 11:19] CodeMonkey321 commented on #723
@ealsur I would agree with you if the Event Processing was not backed by any medium. Say reading from a wire or something low level where data is lost if it is not read. But nothing is lost in Cosmos.

But for cases like ChangeFeed, EventHub and even Service Bus with the risk of running out of space on the queue/topic I would much rather simply be able to halt processing and continue when the deli

[2021-07-14 15:01] ealsur commented on #723
@CodeMonkey321

That is not 100% true as you can certainly delete a document, which would erase the history from the Change Feed. If I fail processing a batch of documents, and Functions had retries enabled, but something deletes the document inbetween, then the retry will no longer have that document on the batch. There are scenarios that due to the inherent nature of the Change Feed (like immedi

[2021-07-15 06:38] CodeMonkey321 commented on #723
@ealsur your are right about Cosmos and deletes, I forget since we always use soft-delete with TTL when we need to record deletes in the ChangeFeed.

Having to call the management API just to disable a function, I think defeats the purpose of Functions and Triggers being easy and fast to develop and use. I'm not saying it can't be done but its a lot of hoops to go through for something that should

[2021-07-15 15:37] ealsur commented on #723
I agree, having a service wide guidance on how to handle a circuit breaker situation for any Trigger would be ideal. As you mention, as authors we need to leverage and balance consumption plan scenarios vs resiliency on event processing. Having these service wide Retry Configurations I believe are a step in the right direction, having a Circuit break API would be ideal for those non-transient scen

[2021-07-21 09:03] pnda489 commented on #595
Any Timeline or Updates on this?
Can't really make use of the bindings without this.

If you don't won't to fix this please close this issue.

[2021-07-22 18:01] jesperkristensen commented on #723
I don't think it is possible to code custom logic that makes a function disable itself via the management API, because such logic will have to sit in the outermost try-catch to be robust. That try-catch is in the Functions runtime, so it would need to be implemented in the runtime itself.

[2021-07-26 16:44] Sergey-Nosov-GH opened #732 "Timer triggered consumption function with NCRON expression in app settings not executing on-time."
Please help diagnosing the following past due execution. Thank you.

Are you using Consumption or App Service Plan:
**Consumption**

If Consumption, how did you deploy?
**Azure DevOps Release pipeline (Function App on Windows task)**

Are you using the v1 runtime, or the v2 (Preview) runtime?
**dotnet worker runtime extension version 3**

Are you setting WEBSITE_TIME_ZONE?
**Yes: Eastern Standard

[2021-07-28 15:37] freedev opened #941 "[FeatureRequest] type serviceBus direction out - specify content-type"
It seems not possible define the content-type for an out message.
In my function.json I have an out serviceBus that works fine but I'm unable to define the content-type.

    {
      "type": "serviceBus",
      "direction": "out",
      "connection": "AzureServiceBusConnectionString",
      "name": "outmsg",
      "topicName": "%DIGICD_NOTIFICATION%"
    }

but ```outmsg``` is defined as ```azure.

[2021-08-04 20:42] p202-rross opened #734 "Notification upon Aborted Triggered WebJob"
More of a question...

I have a triggered (scheduled) WebJob in which I'd like to send an email if the job is aborted or stops running. I'm finding some older, deprecated solutions for this, but nothing for .NET Core 3+.

What are some approaches other have taken for this?

[2021-08-10 14:45] tunoi opened #735 "Is it possile to use Application settings in order to specify the values of CosmosDb trigger properties like MaxItemsPerInvocation?"
This seems to be working for string type properties only (by enclosing the property value with %). For integer or boolean property types this solution cannot be used. Is there any alternative to this that also supports integer/boolean property types?

[2021-08-27 23:12] Sergey-Nosov-GH commented on #734
If you have Application Insights hooked up and you can infer the abnormal condition from logs, you could add an Alert Rule.

[2021-08-30 14:40] Thacai commented on #623
Considering the latest security vulnerability found in cosmos db, when using account keys, and one of the recommended actions is to transition to pure RBAC (account keys disabled, which this binding is depending on), I would urge to get this feature implemented ASAP.

[2021-08-30 15:41] ealsur commented on #623
@Thacai it is coming in the next major extension version https://github.com/Azure/azure-webjobs-sdk-extensions/pull/736, first preview will be out shortly

[2021-09-01 15:25] shibayan opened #741 "CosmosDB 4.0.0-preview1 always throws an exception when AAD authentication is configured"
Whenever I set up and run `CosmosDBTrigger` or `CosmosDB` to use AAD authentication, it throws a `NullReferenceException` and fails to start.

I checked and found that `AzureComponentFactory` is always passed null for `DefaultCosmosDBServiceFactory`. The root cause seems to be that `AddAzureClientsCore` is not registered in the DI.

Example (Service Bus Extension) :
https://github.com/Azure/azure-

[2021-09-01 15:36] shibayan commented on #623
@ealsur I am very happy with the MI and RBAC support in Cosmos DB Extension. Thank you very much. I tried it and found the problem, so I created a separate issue #741.

[2021-09-01 16:46] ealsur commented on #741
@shibayan Yes, I think the issue is that `AddAzureClientsCore();` is not being called, I was under the impression that this needed to be done by the client application.

If you add it to your Function initialization, does it work correctly?

[2021-09-01 17:39] shibayan commented on #741
@ealsur Yes, it works. It did work by installing `Microsoft.Azure.Functions.Extensions` and adding the following startup code. It seems to be caused by the lack of `AddAzureClientsCore`.

For other Azure AD supported Function Extensions (Storage / Event Hubs / Service Bus), I think it is better to match the behavior since the extension will automatically register them.

### Workaround code

[code]

[2021-09-01 17:42] ealsur commented on #741
@shibayan sent a PR with the fix, thanks for reporting

[2021-09-01 17:44] shibayan commented on #741
@ealsur Wow! Thanks for the quick response!

[2021-09-02 08:55] shibayan opened #743 "Serializer customization using `ICosmosDBSerializerFactory` does not work"
I created a class that implements `ICosmosDBSerializerFactory` and tried to customize the default serializer, but it did not work correctly because `CreateSerializer` was not called.

It seems that after adding the customized `ICosmosDBSerializerFactory` to the DI, the Cosmos DB Extension overrides it with the default SerializerFactory.

The initialization by Startup seems to be done in the order

[2021-09-03 08:53] MikeNicholls commented on #731
Fixed by #736

[2021-09-03 08:53] #731 closed, assigned to nobody

[2021-09-03 15:33] shibayan commented on #743
@ealsur I believe `ICosmosDBSerializerFactory` is designed to be user customizable, is this understanding correct?

[2021-09-03 15:41] ealsur commented on #743
@shibayan that is correct, there is a test here covering the expected behavior: https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/test/WebJobs.Extensions.CosmosDB.Tests/CosmosDBHostBuilderExtensionsTests.cs#L74-L104

What kind of operations are you performing after? The Create is not called until you do an operation that requires the creation of a client instance

[2021-09-03 15:47] ealsur commented on #743
I think the reason the test did not catch this is because the test registers the custom serializer factory after calling AddCosmosDB on the host configuration, while maybe in your code, the injection of the custom serializer is happening before.

[2021-09-03 15:48] ealsur commented on #743
Yes, that's the problem. I found it when inverting the test order. I added it to the current PR that is fixing AAD so we fix both issues with the same next release

[2021-09-03 16:04] shibayan commented on #743
Thank you for the quick response.

The order of `Startup` class was fixed by Function SDK as follows, although it is not clearly stated in the documentation. I'm sure the added commit will fix this!
[code]

Thanks again.

[2021-09-03 16:14] ealsur commented on #743
Yeah, I added a test with the inverted order (injection first then AddCosmosDB) and that initially failed (that's how I came to the conclusion about the order), with the TryAddSingleton change, then both tests passed. Thanks for the pointer to the other examples, that was very useful.

[2021-09-03 16:16] ealsur commented on #735
That is limited by the binding expressions, I don't believe that is possible for int types.

[2021-09-03 19:34] ealsur commented on #728
That is not currently supported. Why do you want to pass LimitToEndpoint? Are you aware that that turns off the SDK regional availability? (https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-sdk-availability)

How do you propose to react once the regional endpoint is down due to an outage?

[2021-09-03 19:35] ealsur commented on #727
Duplicate of https://github.com/Azure/azure-webjobs-sdk-extensions/issues/728

[2021-09-03 19:38] ealsur commented on #729
@bernarden Would the user agent modification be at the Function level (each Function inside the same project with different user agent)? Or all the Functions inside the same Function App would have the custom user agent?

The problem with the first one is that you cannot reuse the same client instance across Functions. If 2 Functions bind to the same Cosmos DB account, we can reuse the client and

[2021-09-04 00:09] bernarden commented on #729
It would be best for our use case to be able to specify a custom user agent for each Function using the CosmosDBTriggerAttribute and CosmosDBAttribute attributes. Although I do think that the default user agent value should be overwritable using the host.json file.

[2021-09-08 16:45] jimpaton-ufx commented on #342
Again, 18 months from the last comment, is there any progress on this? I just inherited a .NET 4.5.2 project that uses v1 of the WebJobs SDK and it's impossible to update in any meaningful way because it uses this feature and it's been removed with no replacement. If it's as simple as replacing every usage of `TraceWriter` with `ILogger`, why is the feature still missing after nearly 4 years and a

[2021-09-08 19:16] #741 closed, assigned to nobody

[2021-09-08 19:16] #743 closed, assigned to nobody

[2021-09-10 16:04] ealsur commented on #741
Should be fixed in preview2 release

[2021-09-10 16:04] ealsur commented on #743
Should be fixed in preview2 release

[2021-09-17 20:48] alrod commented on #702
Closing

[2021-09-17 20:48] #702 closed

[2021-09-20 11:20] ThomasBleijendaal opened #744 "TaskCanceledException thrown from http trigger with queue output"
A TaskCanceledException was thrown from a http trigger function which should directly output to a queue. It looks like http connection pool was in trouble as every request caused an instant TaskCanceledException and we could only resolve this issue with a reboot of the function app service.

The http trigger function is implemented as follows:

[code]

The function app is running in an EP1 App Ser

[2021-09-29 15:06] iulianmarius opened #746 "RBAC support for Cosmos DB Trigger with functions system assigned Identity"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known workarounds.

#### Related information
Hello

[2021-09-30 19:17] ealsur commented on #746
The extension version 3.X.X uses the Cosmos DB V2 SDK which does not support AAD authentication.

The extension version 4.X.X uses the Cosmos DB V3 SDK which does support AAD authentication: https://azure.microsoft.com/en-us/updates/public-preview-of-v4-cosmos-db-extensions-for-azure-functions/

[2021-10-04 16:49] #746 closed, assigned to nobody

[2021-10-15 18:28] davidferro91 commented on #436
Any update on this?

[2021-10-17 21:15] tottes200 opened #748 "Cosmos DB Trigger Can't Find App Setting for Connection String .net6"
Cosmos DB trigger failing to retrieve app setting in Azure. When running locally with an environment variable set on the machine this works fine. When publishing to Azure this

.net6 RC2
Azure Functions v4

#### Repro steps

Provide the steps required to reproduce the problem

1. Create CosmosDbTrigger function
2. Publish to Azure Functions App, wait for error.

#### Expected behavior

Trigger sho

[2021-10-17 21:45] tottes200 commented on #748
I have fixed this. Apparently you must set this as a connection string now and not an app Setting. See below. This fixed the issue.

<img width="1353" alt="2021-10-17_17h44_02" src="https://user-images.githubusercontent.com/44611315/137646054-9ece4999-2ffd-4f6b-b718-6eea903595d2.png">

I believe the documentation should be updated to reflect these changes, unless it has been and I somehow missed i

[2021-10-18 10:11] v-anvari commented on #732
Hi @Sergey-Nosov-GH , As per the design requirements, the CRON expression is given while creating the Timer trigger function or in the code, which in turn is specified in the function.json file as mentioned in the following document, but the are not pulled from App.config https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#configuration

While working locall

[2021-10-18 10:15] v-anvari commented on #744
Hi @ThomasBleijendaal , Thank you for making us aware of such occurrence. It could be a server side error which would have been fixed with a refresh. Do let us know if you see the issue again, so that we can investigate further

[2021-10-18 10:18] v-anvari commented on #748
Thank you for the feedback, we will surely update this scenario to the docs team. Can we have the docs link in case you have any link that  you are specifying to

[2021-10-18 10:20] v-anvari commented on #727
Closing the issue as duplicate

[2021-10-18 10:20] #727 closed, assigned to nobody

[2021-10-18 17:04] ealsur commented on #748
@tottes200 thanks for the report, I was able to identify the issue and send a PR to fix it on the current preview code

[2021-10-18 17:06] tottes200 commented on #748
Thank you sir!

[2021-10-18 21:53] #748 closed, assigned to v-anvari

[2021-10-19 11:23] v-bbalaiagar commented on #735
FYI @AnatoliB

[2021-10-19 11:25] v-bbalaiagar commented on #734
Hi @rachael-ross,  Let us know if the above information resolves your query, or if you have any further queries.

[2021-10-19 14:08] AdrianPell opened #750 "Cosmos trigger on Azure Functions v4 (.net 6) fails - cannot resolve SystemConfiguration.ConfigurationManager"
I have a Cosmos trigger on Azure Functions v4 which cannot register the function because of a failure to resolve System.Configuration.ConfigurationManager version 4.0.3.0 (aka 4.7.0)

#### Repro steps

Create a function project - .net6 preview, functions v4 - with the following function:

[code]

local.settings.json is as follows:

[code]

#### Expected behavior

Function should run ...

#### Actu

[2021-10-20 16:16] ealsur commented on #750
Please see https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2798#issuecomment-946754398 this seems apparently some issue with System.Configuration on NET 6 but only when running on Functions (other users seem to have no issue outside of Functions). I don't know what is particular about Functions runtime though, probably something Functions team can chip in.

[2021-10-20 16:31] AdrianPell commented on #750
Yep that's the same issue I think and it appears to be Functions specific.

@cgillum is this likely to be a Functions issue?

[2021-10-20 17:35] cgillum commented on #750
Seems likely to me to be Functions-specific. Adding @brettsam for awareness.

[2021-10-20 18:04] brettsam commented on #750
Try using 4.0.0 of Microsoft.NET.Sdk.Functions -- that should fix it. https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.0.0

[2021-10-20 20:03] AdrianPell commented on #750
Thanks @brettsam . That did indeed, fix it! Onward to the release, then :-)

[2021-10-20 20:03] #750 closed, assigned to nobody

[2021-10-24 00:30] dotnetcadet opened #751 "Are Http Trigger Functions Custom Handlers or part of the Function Host?"
I'm currently working on an open source project to make custom Http Triggers handle OData request for any repository (currently targeting Cosmos DB and SQL Server for CQRS).

I've been trying to make custom Http Triggers but I am having a hard time figuring out how routing is implemented for Http Triggers.

After going though the source code it seems like these particular triggers (HttpTriggers) a

[2021-10-27 16:17] v-bbalaiagar commented on #751
Hi @dotnetcadet, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.
Meanwhile, here is a blog post which addresses similar scenario where the blog talks about detailed view on Azure Function Custom Handlers - https://www.serverless360.com/blog/azure-function-custom-handlers

Please check and let us know if this helps.

[2021-10-31 16:10] dotnetcadet commented on #751
@v-bbalaiagar Thank you for this article.

Fortunately, I'm already aware of how custom handlers work and how to create them. I guess what I'm more interested in is how routing works when it comes to HttpTrigger functions. After reviewing the source code in the function host repository, it appears you can't do custom routing. [Http Route Manager]( https://github.com/Azure/azure-functions-host/blob

[2021-11-01 16:54] v-bbalaiagar commented on #751
Can you explain the scenario and the requirement so that we can investigate further.

[2021-11-03 01:03] ghost commented on #744
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:03] ghost commented on #734
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:03] ghost commented on #732
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:03] ghost commented on #728
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:35] dotnetcadet commented on #751
@v-bbalaiagar ,

All I need to know is: Can you configure custom routing on the main host from a function extension?

[2021-11-03 17:00] Sergey-Nosov-GH commented on #732
No, that did not help, sorry.

[2021-11-03 20:22] liliankasem commented on #726
@fabiocav @brettsam do we need to publish the 3.1.1 package or is it unlisted for a reason?

[2021-11-05 00:27] olitomlinson opened #752 "Can't bind to Http Trigger to POCO and HttpRequestMessage at the same time"
.net core 3.1
microsoft.net.sdk.functions 3.0.13

works fine when only using `HttpRequestMessage req`

[code]

Blows up at runtime when initialising, when using both `HttpRequestMessage req` AND poco binding `CreateSample sample`

[code]

![image](https://user-images.githubusercontent.com/4224880/140438286-a7f4d7af-8599-4ef0-a19a-d4283a57633a.png)

`The 'CreateSampleWorkflow_HttpStart' function is

[2021-11-06 02:03] #744 closed, assigned to v-anvari

[2021-11-06 02:03] #734 closed, assigned to v-bbalaiagar

[2021-11-06 02:03] #728 closed, assigned to nobody

[2021-11-17 21:25] fabiocav commented on #726
@liliankasem the package is published and unlisted, otherwise, there would be a failure here.

@jmullen974 this is purely NuGet behavior. Are you experiencing this in multiple environments? Can you share a sample project where you have that issue?

[2021-11-19 15:24] jmullen974 commented on #726
@fabiocav I am seeing this on my local machine, and in Azure DevOps on a windows-2019 agent. Azure support was able to reproduce the issue as well. Here is a sample project:
[ConsoleApp1.zip](https://github.com/Azure/azure-webjobs-sdk-extensions/files/7571193/ConsoleApp1.zip)
.

[2021-11-19 15:45] ealsur commented on #748
This is part of the preview3 release

[2021-11-30 15:22] v-bbalaiagar commented on #732
Hi @Sergey-Nosov-GH, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-10 16:45] bmwaechter commented on #629
@ealsur I noticed this PR #717  that seems to upgrade to the V3 SDK, should be expect that if we are using the preview nuget package for the cosmos extension? I tried it recently and it didn't seem to respect system.text.json annotation, which I assume means we are still using Newtonsoft under the hood.

[2021-12-13 15:11] ealsur commented on #629
V3 SDK uses Newtonsoft.Json as default serialization engine, so it's the same behavior for the 4.0.0-preview package. But you can plug in/replace with any serializer you want. We don't have official docs yet but you can leverage the new serialization factory. In your Startup.cs file:

[code]

You can have any custom implementation of CosmosSerializer, for example, one for System.Text.Json: https:/

[2021-12-16 13:54] mlankamp opened #756 "Unresolved dependency for version 4.0.0-preview3"
Version 4.0.0-preview3 has a dependency on Microsoft.Azure.WebJobs version 3.0.31, but that version is not publiched on nuget

[2021-12-20 15:50] oionut opened #757 "CosmosDBTrigger: The value for StartFromTime attribute cannot be specified by using biding expression"
The value of StartFromTime attribute is used without being resolved thus it cannot be specified through config.
Specifying the value of  StartFromTime using biding expression (eg %StartFromTime%) with the actual value set in FunctionApp Configuration always throws an exception: ```The specified StartFromTime parameter is not in the correct format. Please use the ISO 8601 format with the UTC design

[2021-12-21 13:31] v-bbalaiagar commented on #757
Hi @ealsur , Could you please look into this issue.

[2021-12-21 13:54] v-bbalaiagar commented on #756
Hi @fabiocav, Could you please look into this issue.

[2021-12-21 18:01] ealsur commented on #757
@oionut What version of the extension are you using?

[2021-12-21 23:46] ealsur commented on #756
If this is for the Cosmos DB extension, it seems this PR bumped the WebJobs dependency on all extensions: https://github.com/Azure/azure-webjobs-sdk-extensions/pull/745

[2021-12-21 23:48] ealsur commented on #757
Added support for the new extension on the linked PR

[2021-12-22 07:24] oionut commented on #757
@ealsur 4.0.0-preview2

[2021-12-22 11:45] beanian opened #759 "No option to specify transport type for Service Bus identity-based trigger."
#### Please provide a succinct description of the issue.
I'm unable to specify the TransportType for identity based Service Bus Triggers.

I'm behind a corporate proxy which blocks traffic on the standard SB port. The workaround until now was to append "TransportType=AmqpWebSockets" to the end of our Service Bus connection strings. This allowed function running locally to be triggered by new messa

[2021-12-22 15:38] ealsur commented on #757
@oionut I sent a PR to add support for that

[2021-12-22 15:46] oionut commented on #757
Thank you @ealsur

[2021-12-22 18:42] mlankamp commented on #756
@ealsur The PR updates the dependency in all extensions, but only Microsoft.Azure.WebJobs.Extensions.CosmosDB seems to have the problem (probably because others are not pushed to nuget after the PR)

[2021-12-22 18:47] ealsur commented on #756
Exactly, it is the only released Extension after the bump.

[2021-12-22 18:48] ealsur commented on #756
I'm not sure why the base `Microsoft.Azure.WebJobs` 3.0.31 was not released or when it will be. @fabiocav / @brettsam any ideas?

[2021-12-23 12:30] mlankamp commented on #756
The package is available on the [myget feed](https://myget.org/feed/azure-appservice/package/nuget/Microsoft.Azure.WebJobs/3.0.31). So it's probably still being tested

[2021-12-28 13:00] v-bbalaiagar commented on #759
Hi @beanian , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-29 07:15] jayalakshmis opened #760 "Microsoft.Azure.WebJobs.Extensions.Http uses System.Text.Encodings.Web which is vulnerable to CVE-2021-26701"
#### Repro steps
Create an azure function project using visual studio 2019.
Choose the `HTTP Trigger` as the template
Now upon running the `dotnet list package --include-transitive` shows up the vulnerable `System.Text.Encodings.Web`  version **4.5.0** being used.

#### Expected behavior
An available stable version of the Microsoft.Azure.WebJobs.Extensions.Http  nuget package that uses the 4.5.1 v

[2022-01-05 17:09] #757 closed, assigned to nobody

[2022-01-07 09:50] CasperWSchmidt commented on #486
@fabiocav @jeffhollan could you at least give some kind of response?

[2022-01-09 12:56] gorillapower opened #761 "Custom Trigger Development - Binding Extensions Overview has Broken Links"
Im trying to follow the steps to create a custom trigger from the wiki here, https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/Binding-Extensions-Overview, but it seems the link to sample project `Sample.Extension` is missing? I see it did exist in some form before, has this been removed from the repo?

Along with the project, the following files are missing

`SampleTriggerAttribute.cs`,

[2022-01-10 16:07] paulmupeters commented on #14
Any updates?

[2022-01-11 08:25] v-bbalaiagar commented on #761
Hi @gorillapower , Thank you for bringing this out to us.
Tagging @pragnagopa / @fabiocav , for more insights

[2022-01-11 12:47] v-bbalaiagar commented on #662
Hi @ahmedzeyada , Apologies for the delay in response. This issue was somehow missed, we are eager to know if you are still facing the same issue, so that we can look into it.

[2022-01-11 13:06] Ved2806 commented on #760
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-11 16:23] freedev commented on #941
any update here?

[2022-01-15 18:52] pejaab opened #762 "Cosmos DB trigger is not connecting to CosmosDB Emulator"
Hi Azure Functions Team,
I have an Azure Functions App consisting of HttpTrigger Functions and CosmosDbTrigger Functions. Both kind of functions work fine and can connect against an actual CosmosDB instance. Unfortunately, when running against the CosmosDB emulator the CosmosDBTrigger Functions fail to connect against the CosmosDB emulator.
The errors that I receive are of the following form:
[cod

[2022-01-18 18:43] michaelpeng36 commented on #762
@ealsur Could you help out with this?

[2022-01-18 21:22] ealsur commented on #762
You need to make sure the local environment has the required certificates from the Emulator, otherwise SSL validation will fail. There is no Trigger or SDK related issue here, it's just how SSL works, you need to know the certificate of the server in order for a client to connect. https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator?tabs=ssl-netstd21#macos-environment

[2022-01-19 10:50] pejaab commented on #762
Thanks for pointing this out, but I took care of this already. After generating a certificate including the IP address via `/GenCert`. I added it to the local Keychain Access. And also set the trust settings according to your pointed out documentation. It's also pointed out in the above mentioned answer, that the certificate needs to be added. Unfortunately, this didn't change anything for the .NE

[2022-01-19 17:53] ealsur commented on #762
Honestly not that I am aware, I am not an expert on the Emulator to know if there are any corner cases when using OSX + Windows image for the Emulator or if that is the right place for the certificates.

You are starting the Emulator allowing network access with the custom IP you are mentioning you are using on the certificate? The doc seems to mention `localhost` and not a custom IP though.

[2022-01-19 21:37] pejaab commented on #762
The setup is more intricate, I guess. I'm starting the emulator on an external VM. Due to the new Apple Silicon, I'm not aware of a possibility of going down the route of local virtualization for now. Or do I miss something? CosmosDB is started with options `/AllowNetworkAccess` and `/NoFirewall`. The common name of the certificate is the mentioned `localhost`. If I generate a certificate with `/G

[2022-01-19 23:18] ealsur commented on #762
I checked the docs and there is no mention of `/GenCert`.

From what I see you need to start the emulator in the VM with the flags you have `/AllowNetworkAccess` and `/NoFirewall`, and then go to the Certificates in the VM and export the PFX and use that in the MacOS machine and connect to the public IP of the VM.

If not, you can reach to the Emulator team through this process: https://docs.micro

[2022-01-19 23:22] pejaab commented on #762
Thanks,
the `/GenCert` command is documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/emulator-command-line-parameters.
I do exactly what you describe, but it doesn't do the trick, unfortunately.

Thanks for pointing out how to reach the Emulator team. I'll try my luck through the process you mentioned.

[2022-01-24 17:39] mlankamp commented on #756
The version is available now, so issue is solved

[2022-01-24 17:39] #756 closed, assigned to nobody

[2022-01-28 12:57] Preeti1910 commented on #659
You might have created blob in different way and reading it by taking its reference in different way. Try write the code in below way for creating and updating the file both

[code]

[2022-01-28 15:17] ghost commented on #659
No I haven't. Also, my issue has to do with the Azure functions blob binding.

[2022-02-04 15:37] dasiths commented on #436
I thought In was going crazy trying to figure out why it was null.

[2022-02-07 16:40] v-bbalaiagar commented on #759
Tagging @alrod  / @AnatoliB , for more inputs

[2022-02-08 16:01] #729 closed, assigned to nobody

[2022-02-22 14:31] Ved2806 commented on #760
we are investigating this further and will update you soon with the findings.
@kshyju Could you please guide to tag the correct person here?

[2022-02-26 10:25] StefH commented on #2
In case anyone is still looking for a solution, I created a new project to implement an FTP trigger.

See https://github.com/StefH/WebJobs.Extensions.Ftp which supports:
- Ftp Trigger on a new FtpFile, FtpFile[], FtpStream and FtpStream[]
- Ftp Bindings on: IAsyncCollector, IFtpClient, FtpFile and FtpStream

@iremmats : if you still have some time, please review my code

[2022-02-27 04:40] MisinformedDNA commented on #14
Has anyone tried this? https://docs.microsoft.com/en-us/azure/storage/files/storage-files-monitoring?tabs=azure-portal

[2022-03-02 08:56] MartinCa commented on #436
The documentation for timer functions explicitly mention that the default is only applied when `UseMonitor` is not explicitly set.
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-functions/functions-bindings-timer.md

So either the code should be updated to match the documentation or the documentation updated to reflect that explicitly setting `UseMonitor` has no effect if the

[2022-03-03 02:50] AdamCoulterOz opened #765 "Feature: Set Http Trigger Default AuthLevel in host.json"
Could we add an additional option for the Http Extension to enable the HttpTrigger `AuthLevel` default to be changed? Individual functions could still override this.

[2022-03-08 10:59] v-bbalaiagar commented on #765
Hi @AdamCoulterOz , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-03-08 11:01] AdamCoulterOz commented on #765
I could submit a PR for it. It's relatively simple.

[2022-03-09 12:59] ghost commented on #659
As I'll be removing my work account in favor of my main account, I can contacted at @Archomeda from now on for further updates.

[2022-03-14 16:17] v-bbalaiagar commented on #765
Hi @AdamCoulterOz , Added this issue as a feature request to consider this in future implementations.

[2022-03-14 18:16] smokedlinq opened #766 "CosmosDbTrigger not scaling out workers"
Noticing our change feed is running slow and the workers are not scaling out. We have millions of documents left to process (~36m) and it is still just running on the 3 workers that we configured as a minimum.

I checked the ScaleControllerLogs and found this:

[code]

Not sure what's causing this.

#### Expected behavior

The scaler controller adds workers when there is a large backlog of change

[2022-03-21 15:22] v-bbalaiagar commented on #766
Hi @ealsur, Could you please look into this issue

[2022-03-21 18:42] ealsur commented on #766
This is by design, the 4.0.0 extension is in preview https://azure.microsoft.com/en-us/updates/public-preview-of-v4-cosmos-db-extensions-for-azure-functions/

There is no support for dynamic scaling as the Functions' component that deals with that is not released yet.

[2022-03-22 09:42] v-bbalaiagar commented on #766
Hi @smokedlinq , Closing this issue as this is by design, please feel free to reach back to us in case of any further queries related to this issue.

[2022-03-22 09:42] #766 closed, assigned to v-bbalaiagar

[2022-03-22 11:29] v-bbalaiagar commented on #662
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2022-03-22 11:29] #662 closed

[2022-03-23 20:22] fabiocav commented on #765
@AdamCoulterOz, we'd be happy to help if you want to get a PR in, but we need to coordinate on documentation and host schema updates, in addition to the changes.

[2022-03-24 01:16] AdamCoulterOz commented on #765
@fabiocav I can completely understand that. I'm surprised those aren't all in the same repo, and can't be made as an atomic PR.

[2022-04-06 01:15] pongba commented on #750
Can you elaborate details regarding how this if this in 4.0.0? I have a similar issue here with C++/CLI enabled native-managed hybrid service, in which a user C# script (.csx) is executed inside a native entry service. Because GetEntryAssembly returns null, the SystemConfiguration.ConfigurationManager throws PlatformNotSupportedException. Same .csx worked under .NET Framework previously, however.

[2022-04-06 14:19] brettsam commented on #750
System.Configuration.ConfigurationManager.dll needs to be somewhere that the app can load it. During the Functions build, we run a "cleanup" that deletes files that will already be present in Azure so you can save space in your deployment. We had a bug between the 4.0.0-preview and 4.0.0 of the Functions SDK where we'd not updated that list of files to delete, so it was deleting System.Configurati

[2022-04-24 17:37] andersson09 opened #769 "[Cosmos DB Trigger] Null _ts, _etag etc. properties from IReadOnlyList parameters."
Hi,

It appears that I can't read _ts, _etag etc. properties from the change feed, even though I have them set in my entity like so:

[code]

I need this properties for processing my dead letter queue.

Thanks

**Edit:**
This started working when I switch to the system text json custom serializer.

[2022-05-10 10:37] Ved2806 commented on #752
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-05-13 06:10] Ved2806 commented on #769
Hi @ealsur Could you please help with this?

[2022-05-13 14:08] ealsur commented on #769
@andersson09 Which version of the extension are you using? Can you provide a sample code of the Trigger Function signature? Any repro that you can provide?

[2022-05-13 14:09] ealsur commented on #769
You mention that they started working when you switched to System.Text.Json - This probably means the `JsonProperty` you were using were from System.Text.Json namespace?

[2022-05-13 14:11] ealsur commented on #769
The trigger always receives and passes these properties, custom serialization won't add or remove them from what the trigger delivers, you can always use a `JObject` or `JsonDocument` (if you use System.Text.Json as the serializer) to verify the raw JSON.

[2022-05-14 00:27] andersson09 commented on #769
System.Text.Json uses JsonPropertyName so I don't think it was this. Yes the trigger passes the json as a string successfully into InputData of IFunctionsBindingsFeature. However, it wouldn't bind to my model. The extension version I was using is 3.0.9.

I'll try reproducing it again soon since I haven't been on this code for a while. Tbh I'm happy with System.Text.Json so may be unnecessary to le

[2022-05-16 14:22] ealsur commented on #769
Extension 3.0.9 uses the V2 SDK and the only type you can bind the trigger is `Document`. It is always `IReadOnlyList<Document>` on the `[CosmosDBTrigger]` binding.

That would mean you were taking the Document and then converting by some means to your type

Extension 4.X is the one that allows you to use a custom type on the Trigger to bind to a type of your choice: `IReadOnlyList<T>`.

The code

[2022-05-17 06:08] chengguo-msft opened #774 "CosmosDBTrigger failed to execute"
Hi Azure WebJobs SDK team,

I am trying to deploy a Azure Function container into AKS with multiple Cosmos DB triggers used. However, every time CosmosDBTrigger starts running, an inner exception like below will throw.
[code]

The exception message looks not that clear. Do you have any idea what is the root cause?

Thanks

[2022-05-20 03:52] #774 closed, assigned to nobody

[2022-05-23 21:50] alrod commented on #735
Answered.

[2022-05-23 21:50] #735 closed, assigned to v-bbalaiagar

[2022-05-23 22:29] ealsur commented on #769
@alrod - This is not a Track2 SDK issue, this is a report on the old SDK (V2)

[2022-05-23 22:30] ealsur commented on #769
@andersson09 - Could you please share a full example of a [CosmosDBTrigger] using 3.0.9 where you are not getting the _ts?

[2022-05-23 22:32] ealsur commented on #762
@alrod This is not a Track2 Issue, this is related to the old Trigger leveraging V2 SDK and its purely a connectivity problem with the Cosmos DB emulator, not related to the trigger itself.

[2022-05-25 05:33] Swimburger opened #775 "Update Twilio dependency"
One of your and our customers is running into an issue when using the Twilio binding.
They are using the `Microsoft.Azure.WebJobs.Extensions.Twilio` package, but also added the most recent version of the `Twilio` package, so it is using a more recent version than what your package is depending on.
Since the last time the Azure package was updated (1/26/2021), the `Twilio` package has updated the c

[2022-05-25 05:48] Swimburger commented on #775
I requested that Twilio adds back the old constructor signature to maintain compatibility in [this GitHub issue](https://github.com/twilio/twilio-csharp/issues/609).

[2022-05-25 10:01] andersson09 commented on #769
**Nugets:**

[code]

**Trigger:**

[code]

**Payload:**
.../admin/functions/DoSomething

[code]

**Works:**
Returns "hello"

[code]

**Doesn't work:**
Returns null

[code]

**Hypothesis:**

So it looks like the serializer is ignoring Newtonsoft JsonProperty attribute and nothing to do with the system fields (_ts, _etag). Or it's just a case that the extension's default serializer is system.text.js

[2022-05-25 15:00] ealsur commented on #769
3.X Extension uses `IReadOnlyList<Document>` which is what is shown in all the docs and examples: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-trigger?tabs=in-process%2Cfunctionsv2&pivots=programming-language-csharp#configuration

Using any other type is not supported nor an expected scenario.

4.X extension does support custom types with even custom serial

[2022-05-25 16:13] andersson09 commented on #769
I'm using Azure functions v4 isolated, but with the 3.0.9 cosmos nuget. Does that change things?

`<AzureFunctionsVersion>v4</AzureFunctionsVersion>`

[2022-05-25 17:38] ealsur commented on #769
The package is still the same, the check is in the source code: https://github.com/Azure/azure-webjobs-sdk-extensions/blob/cosmos/v3.x/src/WebJobs.Extensions.CosmosDB/Config/CosmosDBExtensionConfigProvider.cs#L74, the binding is only done to `IReadOnlyList<Document>`.

Does your `Entity` in your code inherit from `Document`, like `public class Entity: Document` ?

[2022-05-25 17:49] andersson09 commented on #769
Really strange. It works for me. No the entity in the example doesn't inherit from anything. I'm also bringing in the cosmos client. But I don't think that changes anything.

`<PackageReference Include="Microsoft.Azure.Cosmos" Version="3.26.1" />`

[2022-05-26 14:37] ealsur commented on #769
That client is not related to the 3.0.9 extension, it is related to the 4.0.0 extension:

https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.CosmosDB/3.0.9

![image](https://user-images.githubusercontent.com/1633401/170510647-845c1110-cb9f-4a92-b8a3-d9e0a2869952.png)

https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.CosmosDB/4.0.0-preview3

![image](https://user-ima

[2022-05-27 13:38] andersson09 commented on #769
You're pointing to a different nuget. This is the one I am using

https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.CosmosDB/3.0.9

Note _Worker_ and not _WebJobs_

[2022-05-27 14:15] ealsur commented on #769
The 2 Nugets I mention are the ones I authored, I'm not sure what the Worker version of the Nuget includes (the Dependencies section is empty) but looking at the Versions, it's a mirror with the other ones.

So assuming that, it should work the same way (3.X uses the V2 SDK and `Document`, 4.X uses V3 SDK and can use your custom `<T>`), but since I didn't author or work on those, I cannot confirm.

[2022-05-27 14:54] andersson09 commented on #769
I think the isolated model uses worker packages. Maybe there has been a mix up with the cosmos extensions versions.

[2022-06-02 17:22] xiongyu0523 opened #776 "bug or how to use route parameter correctly in SELECT statement?"
Use Http trigger's route paramter in sqlQuery SELECT clause (see below function.json), the parameter `telemetryName` is substituted as a string with two quotation markers. ". e.g. "humidity". I try to use `c[{telemetryName}]` and it does not work as I expected in function. It can query the right properties, but the key is "$1", not "humidity" as I expected.

GET  http://localhost:7071/api/telemetr

[2022-06-03 02:50] xiongyu0523 commented on #595
I was trying hard to find answers and just figure out it has bee fixed already. User can just refer to the query parameter use its key in sqlQuery as route parameter. No need "Query." prefix.

say http://yourapi/a/b/c?myparam=myid

"sqlQuery": "SELECT * FROM c WHERE c.id = {myparam}"

I don't find a document tell this, or anyone come here to close the ticket, that's terrible..

[2022-06-03 21:55] jsquire opened #779 "[BUG] CosmosDB trigger function seems to hang and stops processing events when authenticating via MSI"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#29104](https://github.com/Azure/azure-sdk-for-net/issues/29104).

### Please be aware that @Francisco-Gamino  is the author of the original issue and include them for any questions or replies.

## Details

### Library name and version

Microsoft.Azure.WebJobs.Extensions.CosmosDB

### Describe the bug

This

[2022-06-03 22:00] Francisco-Gamino commented on #779
/cc @alrod

[2022-06-06 09:31] xieofxie opened #780 "Why TimerTrigger doesn't have ConnectionProvider(typeof(StorageAccountAttribute)) like QueueTrigger?"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. [Step A](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Extensions.Storage/Queues/QueueTriggerAttribute.cs)

2. [Step B](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/a0fb2011acfa88126d9eecc

[2022-06-08 07:28] Shivam-22 opened #781 "Vulnerabilities CVE-2020-1045 in Microsoft.AspNetCore.Http 2.1.0"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Microsoft.AspNetCore.Http package is outdated.
2. It is throwing vulnerability CVE-2020-1045 Authorization Bypass

#### Known workarounds

Please update the Microsoft.AspNetCore.Http package 2.2.2 to avoid the vulnerability of Authorization Bypass

* Package version - Micr

[2022-06-10 23:33] HMoen opened #783 "Retry policies for isolated (out-of-process) AF Cosmos DB triggers/bindings soon deprecated?"
@kshyju answer below works at the moment, but now we recently started to see the following trace in AppInsights for our AF Cosmos DB triggers :
"Soon retries will not be supported for function '[Function Name]'. For more information, please visit http://aka.ms/func-retry-policies."

The [Retry examples](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=fixe

[2022-06-21 21:12] mo-esmp commented on #761
Any update on broken links?

[2022-06-29 18:16] mattchenderson commented on #783
Because this is not exclusive to the isolated model, we should move this item to the extension repo. My understanding is that this would be a feature request for the Cosmos DB extension.

[2022-07-02 20:08] macel94 commented on #762
Hi @ealsur @michaelpeng36

i'm developing a simple but complex enough example to really try to understand how developing in containers would really be for me and my team in next projects.
I'm really finding it hard to solve this simple thing of triggering my azfunction

i'm using everything with the latest packages and everything is public beside the secret i was required to create(not my choice)

[2022-07-05 19:40] ealsur commented on #762
@MACEL94 There are no changes we can make on the Extension that should solve Emulator connection problems. That is a purely client + Emulator connectivity problem. The Extension or the SDK which is consumed underneath has no code referencing the Emulator at all and it should never have. Any connectivity problem between a client (SDK, Extensions, etc) and the Emulator needs to be investigated with

[2022-07-06 09:46] macel94 commented on #762
Hi @ealsur
I understand what you mean, just a question: do you think I have a way to override the default CosmosClient used by your implementation of "CosmosDBTrigger" through dependency injection?

Because if i could, i would be able to use the HttpFactoryOptions like i did here to ignore the certificate: https://github.com/MACEL94/advanced-azure-microservices-with-dotnet-for-developers/blob/9-ma

[2022-07-06 16:19] ealsur commented on #762
@MACEL94 We could expose an interface like we do for custom serialization: https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/Config/ICosmosDBSerializerFactory.cs

Which in that case could be injected to customize the CosmosClientBuilder (just an idea). But really the point is that disabling SSL is just a shortcut to avoid dealing with installing the cer

[2022-07-06 16:46] macel94 commented on #762
Hi @ealsur
"But really the point is that disabling SSL is just a shortcut to avoid dealing with installing the certificate"
Yes, indeed.
Because when I move in production, i don't expect to have the need to install a certificate while pointing to an actual instance of cosmosdb, so why should I do it in my local env?

Also I understand that I could probably get everything to work spinning up the em

[2022-07-06 17:02] ealsur commented on #762
The big issue with adding this configuration is that if you accidentally push such a configuration to production, then you are now doing insecure requests.

[2022-07-06 19:33] macel94 commented on #762
@ealsur yes that is absolutely true, but how does this differ or add value when I can bypass SSL when using the same cosmosdb in the same solution with my web APIs(because the CosmosClient here exposes this possibility to us Devs)?

Meanwhile in the same solution I can spawn a SQL server container in a similar way and connect to it without being forced to use SSL(yes, different persistence tech bu

[2022-07-06 21:11] ealsur commented on #762
Do you build the Functions mostly on C#? I think that a solution like the second one (add a config as a boolean value) could be the one that tackles this problem across languages.

[2022-07-06 21:44] macel94 commented on #762
Yes, I'm almost a C# only Dev as with blazor i can also do FE :)

Let me know if I can help in any way

Thanks again

[2022-07-07 19:58] chrfrenning commented on #14
Adding myself in here, this feature would make a world of difference for so many!!!

[2022-07-14 12:44] vlkchris opened #786 "TimerTrigger in Webjobs SDK does not support managed identity"
We have a project
[code]

In this project we have configured webjobs as follows, in Program.cs
[code]
We have been using BlobTrigger and QueueTrigger succesfully, using the simplified storage account configuration in appsettings.json
[code]
We are using managed identity for the webapp and have assigned proper roles to the webapp's identity and everything is working fine.

Now we have the need to a

[2022-07-19 08:04] HugoMcD101 commented on #14
Jumping onto the thread, hoping for implementation!

[2022-07-19 13:10] MikeNicholls commented on #783
Will there be any guidance on retries for Cosmos DB triggered functions before the October 2022 deadline when retry policy support will be removed?

Cosmos DB is currently the outlier on the table of retry support for triggers/bindings, with "n/a" and "Not configurable" listed.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages#retries

[2022-07-22 11:43] hugopacheco commented on #695
Hello, any updates on this?

The most recent version available on nuget.org is 3.0.12 and it references a vulnerable version of System.Text.Encodings.Web (https://github.com/Azure/azure-webjobs-sdk-extensions/issues/760).

The most recent version of Microsoft.Azure.WebJobs.Extensions.Http (3.2.0) [no longer references System.Text.Encodings.Web](https://github.com/Azure/azure-webjobs-sdk-extensions

[2022-07-24 08:25] #538 closed

[2022-07-25 15:35] vlkchris commented on #786
Hi there - have you been able to look into this yet?

[2022-07-26 06:39] Ved2806 commented on #783
Hi @ealsur Could you please help with this issue?

[2022-07-26 06:40] Ved2806 commented on #779
Hi @ealsur Do you have any inputs on this?

[2022-07-26 07:27] tomaswalander opened #790 "CosmosDBTrigger fails to create container information using MSI"
#### Repro steps

I'm attempting to use my local developer identity (logged in using `az login`) to develop an Azure Function with a `CosmosDBTrigger` using managed identity and RBAC.

My account has the following roles assigned both on subscription level, on the database account, on the database and on the container:
- [Cosmos DB Account Reader Role](https://portal.azure.com/#)
- [DocumentDB Acco

[2022-07-26 14:48] ealsur commented on #779
Assuming @Francisco-Gamino you are using the `4.0.0-preview` package and that the change from connection string to MSI was done with the same package version (not going from 3.X and connection string to 4.X and MSI): Make sure the `Microsoft.Azure.Cosmos` dependency is updated on the Function App project to the latest available version. There were versions of the SDK (`Microsoft.Azure.Cosmos`) tha

[2022-07-26 19:14] Francisco-Gamino commented on #779
Hello @ealsur , this issue was opened for the [CRI](https://portal.microsofticm.com/imp/v3/incidents/details/308705579/home) you helped me looked into. After investigating, we determined that the function slowed down processing events due to unhandled exceptions in the customer code. Closing issue.

[2022-07-26 19:14] #779 closed, assigned to Ved2806

[2022-07-27 15:46] tomaswalander commented on #790
I just tried deploying the app and can verify that I'm getting the same error when run in Azure. So it's not just due to local development mode.

[2022-08-01 08:05] Charizard13 commented on #595
Hey xiongyu0523, did you make it work? Because it throws me an error
The 'GetPreviousEvents' function is in error: Microsoft.Azure.WebJobs.Host: Error indexing method 'GetPreviousEvents'. Microsoft.Azure.WebJobs.Host: Unable to resolve binding parameter 'departmentId'. Binding expressions must map to either a value provided by the trigger or a property of the value the trigger is bound to, or must

[2022-08-01 17:04] mathewc opened #791 "TimerTrigger listener should not release Singleton lease until outstanding invocations are complete"
There's an issue with the way Drain mode behaves with TimerTrigger listeners, that came up in ICM# [324052993](https://portal.microsofticm.com/imp/v3/incidents/details/324052993):

- Timers are implicitly Singleton (annotation [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/b493a05b47c15c053a8df54f13954525e9d462e8/src/WebJobs.Extensions/Extensions/Timers/Listener/TimerListener.cs

[2022-08-02 12:06] CasperWSchmidt commented on #486
It appears to also be a problem for net6.0 on Functions V4 (referencing Microsoft.NET.Sdk.Functions 4.1.1) @fabiocav @jeffhollan

[2022-08-02 12:22] CasperWSchmidt commented on #627
Any news on this?

[2022-08-03 08:08] CasperWSchmidt commented on #511
I can confirm that there's still an issue with V4 using the example posted [here](https://github.com/Azure/azure-webjobs-sdk-extensions/issues/486#issuecomment-814079813)

Core Tools Version:       4.0.4670 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.7.2.18626
.Net 6.0 (6.0.203)

[2022-08-03 08:19] CasperWSchmidt commented on #627
I just tested it on V4 running .Net 6.0 and still no luck :( This is absurd! How can Microsoft expect System.Text.Json to be the default anywhere before it reaches at least feature parity with Newtonsoft.Json on such simple requirements? According to [this](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-immutability?pivots=dotnet-6-0) it should work, so what going

[2022-08-03 13:15] prolog commented on #14
This would make a huge difference. Hoping it can be implemented.

[2022-08-08 16:06] Ved2806 commented on #790
Hi @ealsur Could you please help with this issue?

[2022-08-09 00:49] petersgiles commented on #14
Please implement this, it would make a huge difference to my solutions.

[2022-08-10 01:57] iamarvil commented on #783
I agree, we built our change feed processing with the retries in mind and we were just about to roll-out our solution. While moving to webjobs with our own change feed processor is a viable option, we would be losing other benefits that azure functions can provide. Any guidance for cosmos db change feed retries would be appreciated.

[2022-08-11 07:00] hugopacheco commented on #695
Happy to report 3.2.0 was published to nuget.org 2 days ago (yyyy-MM-dd: 2022-08-09).

@b-twis I think this issue can be closed

[2022-08-15 16:21] #791 closed, assigned to mathewc

[2022-08-15 21:41] ealsur commented on #790
Please follow the link in the error: https://aka.ms/cosmos-native-rbac

You cannot perform collection/database creation operations when authenticating with MSI, that is by design on Cosmos DB.

If you believe you should be able to access or perform this operation with the MSI identity, file a support ticket. MSI auditing and authorization is not a client side operation, the service is performing t

[2022-08-15 21:52] ealsur commented on #783
At least at this time, there is no Retry Policy support on the Cosmos DB extension that is built in or uses any of those configurations

[2022-08-16 00:13] HMoen commented on #783
@ealsur , any plans to implement before the October 2022 deadline mentioned above? If not, so we can plan our own retry mechanism (queue etc). Thanks.

[2022-08-16 10:36] Ved2806 commented on #786
Hi @vlkchris Thank you for a feedback, we will investigate this further and let you know about the findings soon.

[2022-08-16 14:37] ealsur commented on #783
If I understand the notice correctly, the retry policy is being removed from all triggers that currently support it:

So adding Retry Policy support would not make sense as it does not align with the notice.

We currently have no planned work to add custom retry configuration, but that can change if this is a feature that is widely requested (as an opt-in configuration). Technically, the Trigger c

[2022-08-16 16:59] HMoen commented on #783
@ealsur , thanks for the feedback. Infinite or none won't work in our environment unfortunately. We piggybacked off [dead-letter-queues](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/change-feed-processor?tabs=dotnet#error-handling) before and removed the functionality when we found out about the built-in retry mechanism.

[Link](https://feedback.azure.com/d365community/idea/3bdd245e-841d-e

[2022-08-17 13:09] mpaul31 commented on #783
The removal of this has a very large impact on many of our production apps that use change feed (cosmos db trigger) with exponential infinite retries. We obviously don't want to lose and messages and rely heavily on this. @ealsur Is there anyway to get this added before the deadline or possibly a sample workaround? I would much rather not bring in more infra (queues) and build something specifical

[2022-08-18 15:35] ealsur commented on #783
@mpaul31 I don't understand what is the request here. Right now the Change Feed Trigger has no retry policy, so it never retries, how are you creating apps that have exponential infinite retries?
The deadline that the documentation shows is a deadline after which the Retry Policies will be removed, for Cosmos DB they are not even there in the first place, so there is no point in adding them if the

[2022-08-18 15:44] mpaul31 commented on #783
@ealsur We use the following attribute on our change feed trigger method:

`[ExponentialBackoffRetry(-1, "00:00:01", "00:00:10")]`

It would be awesome if we could configure similar behavior on the `CosmosDBTrigger`.

[2022-08-19 18:00] ealsur commented on #783
There is no code in the Cosmos DB Trigger or extension that reacts to `[ExponentialBackoffRetry(-1, "00:00:01", "00:00:10")]`.

The Trigger code in fact has no error retry logic, here is where your Function code is called: https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerListener.cs#L225 if there was an execution error, it is sim

[2022-08-19 19:40] HMoen commented on #783
@ealsur , on this thread https://github.com/Azure/azure-functions-dotnet-worker/issues/832#issuecomment-1072545934, @kshyju mentioned the ExponentialBackoffRetry only works(ed) for in-proc function apps.

[2022-08-19 19:59] ealsur commented on #783
I don't know how that works, from the Trigger perspective, there is nothing that is blocking the checkpointing and moving forward if the execution of the code fails.

Once the `ProcessChangesAsync` method completes in the Trigger code without errors, the state is saved and a next batch is obtained, and the execution of the user code can never make the method fail because we are using `TryExecuteAs

[2022-08-19 20:14] HMoen commented on #783
The issue https://github.com/Azure/azure-functions-dotnet-worker/issues/832, was opened by someone looking specifically for retry logic for CosmosDBTrigger and @kshyju offered the linked comment as the solution. That issue should be updated to reflect your comments.

[2022-08-19 21:46] ealsur commented on #783
I will let @kshyju comment then, as author of the CosmosDBTrigger, I am not aware of any behavior affected by these policies in the Trigger source code.

[2022-08-19 22:19] kshyju commented on #783
The retry option I mentioned is a function runtime feature which will retry the function execution when it fails for the first time

For example, if you have a function like this.

[code]
and configure your `host.json` to enable retry behavior

[code]
Let' say you edit some document in your cosmosdb collection, the `Function1` function will be triggered and if the document name contains "foo", the

[2022-08-19 22:24] HMoen commented on #783
@kshyju , thanks for your response. The retry behavior you depict above is/will be permanent in the runtime for out-of-proc functions?

I opened this issue since as stated above early June we started to see the following trace in AppInsights for our AF Cosmos DB triggers: "Soon retries will not be supported for function '[Function Name]'. For more information, please visit http://aka.ms/func-retry

[2022-08-19 22:29] ealsur commented on #783
Will the execution be with the same input (basically the same list of `IReadOnlyList<MyDocument> input`)? I'm intrigued to understand how this works, I have not added any logic in the Trigger that would stop the checkpointing, unless this decorator is basically stopping the instance?

[2022-08-19 22:33] kshyju commented on #783
@ealsur  Yes, Same list. The logic is somewhere in the functions host I believe.

[2022-08-19 22:39] kshyju commented on #783
This is the current behavior as of today. Let me circle back with the team to understand what is the migration path & update you.

[2022-08-20 08:04] ghost commented on #790
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-23 09:04] #790 closed, assigned to Ved2806

[2022-08-25 15:54] Ved2806 commented on #786
Hi @vlkchris Could you please share a code? how you are trying to configure timerTrigger functionality?

[2022-08-29 14:22] mpaul31 commented on #783
@kshyju Any updates on the migration path or postponing the removal?

[2022-08-29 16:04] ghost commented on #786
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-29 16:07] vlkchris commented on #786
Hi guys - Sorry for the delay from my side. Due to holidays I was not able to comment earlier. I'll provide you with more details tomorrow.

[2022-08-30 14:28] vlkchris commented on #786
Here are some more details of how I am trying to work with TimerTrigger

In Program.cs I have:
[code]

I also have a class with a TimerTrigger configured:
[code]

In appsettings.json I have:
[code]

Now when I start this project it throws Exception:
[code]

Now, when I configure a connection string  with an account key in appsettings.json
[code]

Then the program starts just fine
[code]

Now this

[2022-09-01 00:26] kshyju commented on #783
The retry behavior is currently a preview feature. As the deprecation notice mentions, this feature will only be available for Timer and EventHub triggers for GA.  Preview features are considered experimental and meant to collect feedback and not all of them make it to GA.

This will be applicable for both in-proc and isolated.

[2022-09-01 13:53] mpaul31 commented on #783
I get that but just like stage slots, which was in preview for a very (1+ years) long time, some adopt things sooner out of necessity. What about guidance then? Will the host just ignore the attribute or stop the app from starting? I'm sure there were many excited to see this as it relates to the cosmos trigger and are now going to be facing the same fate.

[2022-09-03 16:27] shibayan commented on #783
The fundamental issue is not that `CosmosDBTrigger` cannot be configured with a retry policy, but that `CosmosDBTrigger` advances the lease when a Function fails to execute.

I believe this could be solved if `CosmosDBTrigger` instead of retry policy could use exponential backoff to extend polling time for Change Feed without advancing the lease on Functions failure.

[2022-09-03 17:51] mpaul31 commented on #783
Just to be clear, the retry policy/attribute does indeed work today aka with lease checkpointing working correctly. It appears it using an in memory retry policy similar to Polly.

[2022-09-04 03:41] mentorfloat commented on #595
Neither `SqlQuery = "SELECT * FROM c WHERE c.User = {Query.user}"` nor `SqlQuery = "SELECT * FROM c WHERE c.User = {user}"` worked with an url of `http://yourapi/a?user=myid`. I'm using the latest SDK, Microsoft.Azure.WebJobs.Extensions.CosmosDB 3.0.10.
Route path is still the way to go.

[2022-09-05 16:06] cheekp commented on #783
Agree, I imagine this feature will have had a lot of adoption out of necessity over the 1-2 years of availability. With the loss of ExponentialBackoffRetry transient failures are going to become a lot more expensive again. Knock on effect to compute, source/target ops, logging etc.  Customers need guidance on what will happen in October and how to mitigate without the out-of-the-box in-memory retr

[2022-09-07 11:00] asos-martinsmith commented on #783
This is certainly required for Cosmos.

Before I started using this attribute I encountered issues where "in flight" batches of changes were lost when performing a release.

I was advised (funnily enough by @ealsur!) to use the retry policy to mitigate this here

https://github.com/Azure/azure-webjobs-sdk-extensions/issues/716#issuecomment-824920182

In general too the change feed processing may w

[2022-09-07 14:29] ealsur commented on #783
My response does not advise you to you the retry policies, the response is regarding what happens if your function crashes before checkpointing. I mentioned the documentation about the retry policies that were in preview because my understanding back then was that Functions was building a generic retry layer for all extensions, I did not explicitly say to use it. I don't work on the Functions team

[2022-09-07 14:44] asos-martinsmith commented on #783
There are two separate issues here.

The first one is that certainly I have observed that deploying changes to the function app means that batches end up being aborted (maybe due to thread abort) and the lease is still updated so the net effect is that the batch is just missed.  After using this preview feature I did not observe any instances of this. When it is removed I no longer will have confi

[2022-09-07 16:50] ealsur commented on #783
Not at this point. As I mentioned in https://github.com/Azure/azure-webjobs-sdk-extensions/issues/783#issuecomment-1216727630, aligning with the Change Feed Processor, the only potential alternatives we could offer for the Cosmos DB Trigger is either an infinite retry (retry on any error) or no retry. There is no exponential backoff retry support on the Change Feed Processor. When checkpointing is

[2022-09-09 14:56] mkp-bartsch commented on #14
Hoping for implementation too! We need it urgently.

[2022-09-11 14:30] shibayan commented on #783
Unless an alternative to the `CosmosDBTrigger` retry policy is provided by the Azure Functions team, we will unfortunately have to fix the Azure Functions Runtime version. Fixing `FUNCTIONS_EXTENSION_VERSION` to the version before the retry policy behavior was changed should give us additional time.

Would our request be better considered if we created a support request? I recall the removal of Az

[2022-09-15 13:11] iamarvil commented on #783
As a temporary fix, we'd be wrapping our triggers with Polly in the meantime just to cover transient errors. Consumption plan timeouts would be the next thing to worry about, but considering that processing usually takes less than a second anyway, i don't think it's too much of a concern. We're just unsure how much cost it will add to our azure functions bill.

I would consider adding a try catch

[2022-09-21 23:31] sayyaari commented on #783
@ealsur is retry policy support for Cosmos DB Trigger that you've added recently an intermittent change until October 2022 according to this [document](https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=fixed-delay%2Cin-process&pivots=programming-language-csharp#handling-errors) or the document just needs to  be updated?

[2022-09-22 09:00] gautamsamal commented on #14
I am able to work out an alternative solution for now with the diagnostics logs. I am pushing it to an event hub and then filtering out the write events
[code]

Needed to add also a data layer to compare old vs new files and as well as a check for open file handles. So far it seems to be working.

[2022-09-22 09:15] mkp-bartsch commented on #14
Great, thanks for sharing.
How many files does this work for? What is the recognition latency?

[2022-09-22 09:24] gautamsamal commented on #14
@mkp-bartsch the events have some delays. I assume the diagnostics logs are generated per minute (based on the file it creates when [file storage](https://learn.microsoft.com/en-us/azure/storage/files/storage-files-monitoring?tabs=azure-portal#accessing-logs-in-a-storage-account) is being used).

So in my case I would get the first write events with a max delay of a minute. That would also mean af

[2022-09-22 14:09] ealsur commented on #783
@sayyaari The change I added is for the 4.x extension that will release sometime next month, the document would need to be updated I guess

[2022-09-22 23:18] sayyaari commented on #783
Thanks @ealsur, Still we have a major problem which is when the Azure Function is terminated by any reason it would advance the lease. Per my investigation in the code it is because the **ProcessChangesAsync** method of [CosmosDBTriggerListener](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerListener.cs) which handles the **Cha

[2022-09-23 13:40] ealsur commented on #783
@sayyaari I believe you should create a different issue that we can discuss separately. Azure Function being terminated and the Listener not aborting on errors are two different things. Please see: https://github.com/Azure/azure-webjobs-sdk-extensions/issues/716#issuecomment-824910846

[2022-09-25 23:26] sayyaari commented on #716
Hi @ealsur I asked the following [question ](https://github.com/Azure/azure-webjobs-sdk-extensions/issues/783#issuecomment-1255650720) on another issue thread and you properly guide me to raise the question here.

Thanks for adding retry policy support for version 4.x, but still we have a major problem (as mentioned in this thread) which is when the Azure Function is terminated for any reason and

[2022-09-26 15:51] ealsur commented on #716
@sayyaari Can you clarify what evidence do you have to say that if the Function is terminated the checkpoint still happens? As I described in this thread, when a Function is terminated, all executing code should stop, including the checkpoint, that happens after your Function code executes. So if the Function stops while your code executes, it would not reach the checkpoint.

The retry policies ad

[2022-09-26 19:16] ealsur commented on #716
We understand as Function Terminated as the instance shutting down/crashing.

The reason the Function Trigger does not automatically retry on errors is by design, and aligns with other event based triggers (for example Event Hub https://github.com/Azure/azure-sdk-for-net/blob/a5f2ba22c34a6d931b3717aa36f1c286c4647d13/sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubLi

[2022-09-26 20:46] czb182 opened #799 "Dependency on ASP.NET 2.2"
This package depends on asp.net core 2.2, which as far as i know is out of support. Seems like for build targets. 3.1 and above, it should have a framework reference dependency instead of package reference.  I'm using .net6 and its pulling in all .net 2.2 nuget libraries.

This library is reference by Microsoft.NET.Sdk.Functions (4.1.3) so its widely consumed.

[2022-09-30 12:24] Ved2806 commented on #760
Hi @fabiocav Do you have any inputs on this?

[2022-09-30 14:04] marioleed commented on #786
Any status on this?

[2022-10-02 22:53] sayyaari commented on #716
Thanks @ealsur and sorry for delay as  I tried to find some time so that I can elaborate more clearly.

- As you mentioned by function termination I mean the instance is shutting down/crashing.
`We understand as Function Terminated as the instance shutting down/crashing.`

`@sayyaari Can you clarify what evidence do you have to say that if the Function is terminated the checkpoint still happens? A

[2022-10-03 10:09] JonasJes commented on #695
Is this update related to https://github.com/Azure/azure-functions-vs-build-sdk/issues/589 ?

[2022-10-03 14:55] ealsur commented on #716
That is not up to the Extension, the contract is defined by the Functions runtime, if this is exposed, then we (extension authors) can interpret it, but this is not something extension authors can act on, this needs to be first done at the Functions level.

If the Function crashes, why would code execution continue? Last week we actually investigated an incident that was exactly this case. The use

[2022-10-03 18:17] liliankasem opened #800 "CosmosDB: Expose an API to retrieve a particular version of a given document"
As part of the work we're doing to bring SDK-type bindings to out-of-proc Functions workers, we would like to handle CosmosDB trigger payloads on the worker side, rather than passing the entire payload to the worker.

Currently, Cosmos DB triggering will still require documents to be resolved on the host due to how the change feed works. When a document is added/updated, the change feed will get a

[2022-10-03 21:25] sayyaari commented on #716
- In our case, the Function termination happened in reality when a new Function instance is deployed or stop manually and that function retry strategy was kicked off because off some exception during the document process. The function was not crashing because of the Resource Exhaustion.

- I simulate the function stop/terminate in dubbing mode in Vs Code by pressing
   -  **Ctrl+C** in terminal an

[2022-10-03 21:35] ealsur commented on #716
@sayyaari That code is outside of the Cosmos DB extension, so I cannot comment on why it is like that or how it should behave (the code you linked does not even belong to this repo). As you saw on the other thread, I discovered that Retry Policies were affecting the Cosmos DB Trigger recently, there is no code on the Trigger itself that interacts with the policies in any way. The code in the Trigg

[2022-10-03 21:42] sayyaari commented on #716
@ealsur The code is outside the CosmosDb extension. I thought it is part of the area you and your team are working on it as well. Does it mean I should post my question on the repo of the code?

[2022-10-03 21:56] ealsur commented on #716
@sayyaari I work on the Cosmos DB Extension: https://github.com/Azure/azure-webjobs-sdk-extensions/tree/dev/src/WebJobs.Extensions.CosmosDB, this repo contains that extension. I don't work nor have scope on any other Function code or behavior (such as what the Retry Policies actually do). I got involved because the ask was to add the required decorators on the Cosmos DB Extension for Retry Policie

[2022-10-03 21:58] ealsur commented on #800
This would require this supported as a Service feature, currently this is impossible from any client. The ASK should be first on the Service, once the Service decides to implement such a thing (if it's technically possible), then can clients expose it.

Based on current service design, it would not be possible. The database contains the latest most recent state of a document, not the intermediate

[2022-10-04 00:30] liliankasem commented on #800
Yup totally,  this was intended as a service feature request and we wanted to have somewhere related to Functions to track this rather than opening directly with CosmosDB (for now at least).

We were just trying to brainstorm ideas for if there is any way at all to make this scenario possible. However, it sounds like because of CosmosDB's service design, it's not possible to even expose such an AP

[2022-10-04 12:52] mpaul31 commented on #783
@shibayan Is pinning the version the route you are going with? I am debating this approach vs. adding a Polly retry policy.

[2022-10-04 17:05] shibayan commented on #783
@mpaul31 I am currently looking at ways to pin Azure Functions Runtime for safety and then support the new Cosmos DB Extension v4. The reason is to avoid losing retry support for `CosmosDBTrigger` in Azure Function Runtime due to platform updates before the Cosmos DB Extension v4 migration is complete.

The Azure Functions team has disclosed that the previous retry policy will be removed in Octobe

[2022-10-04 17:28] mpaul31 commented on #783
I am in the exact same boat. Updating the app setting `FUNCTIONS_EXTENSION_VERSION` value to version `3.15.0.0`  seems less invasive at this point.

[2022-10-05 20:30] #800 closed, assigned to nobody

[2022-10-06 12:21] ramya894 commented on #799
@czb182 We will check this issue with our next level team and update you.

[2022-10-18 01:15] czb182 commented on #799
any update?

[2022-10-19 21:14] jviau commented on #799
While we do reference these older functions, this is a compile time reference only. At runtime, the host will be loading up to date versions of these DLLs, so there is no actual security vulnerability. We have a few reasons for this (but not limited to):

1. As a hosted service, we want to provide security patches without requiring customers to update and redeploy their app.
2. AspNetCore team cha

[2022-10-19 22:10] czb182 commented on #799
Why not just add a framework reference and remove old Nuget packages

[2022-10-20 20:16] lAnubisl commented on #799
Does this also work this way for Azure Functions Emulator?

[2022-10-21 15:25] czb182 commented on #799
I think I see part of issue is that these are netstandard2.0 libraries.  Is .NET Framework still supported for webjobs?  It seems like with .net core 3.1 falling out of support in month or two, everything can be targeted to net6.0 and framework reference can be leveraged.

[2022-10-21 17:26] jviau commented on #799
We do not want to bring in the entire AspNetCore framework as that will adversely impact function load performance. We have addressed this in functions v4 as these references are no longer present.

netstandard2.0 is the correct route here as these are class libraries (and not an application themselves), this means it can be used in almost any other chosen TFM: netfx, netcoreapp, net5/6/7. See htt

[2022-10-25 18:04] ghost commented on #799
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-26 14:41] hzlkarakus opened #804 "Build failed"
Hello,
I've cloned the project and when I try to build it, I'm getting these errors:

Could not write to output file 'C:\****.Twilio.xml' -- 'Access to the path 'C:\****Twilio.xml' is denied.'
Metadata file 'C:\****\src\WebJobs.Extensions.MobileApps\bin\Debug\netstandard2.0\Microsoft.Azure.WebJobs.Extensions.MobileApps.dll' could not be found.

How can I solve this issue? Is there a solution where

[2022-10-27 10:24] ramya894 commented on #804
@hzlkarakus thanks for reporting, can you provide the repro steps to reproduce the issue.

[2022-10-27 13:23] hzlkarakus commented on #804
@ramya894 of course, I cloned the main branch on my local and I'm using VS 2022. When I "Build solution" I get the following errors.

Build:
<img width="267" alt="Build" src="https://user-images.githubusercontent.com/116739377/198294002-dcdd8ecc-2869-4530-ad15-2644b96bbee0.png">

Errors:

![image](https://user-images.githubusercontent.com/116739377/198295922-e35f296e-a45a-4cc9-8f46-0cd7e4e96669.pn

[2022-10-27 15:41] czb182 commented on #799
Still seems weird to reference deprecated libraries for any scenario.  Are we sure doing a framework reference would impact load?  Maybe system knows to load only desired libraries and not the entire framework?  Or maybe since its part of framework already there is no impact?

[2022-10-28 11:07] superjulius opened #805 "V5.x release to support cleanly TimerTrigger with Azure Storage V12"
We have been upgrading our WebJobs to use [Microsoft.Azure.WebJobs.Extensions.Storage 5.x](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/5.0.1) successfully except for the ones that are using TimerTrigger.

TimerTrigger is only available in Microsoft.Azure.WebJobs.Extensions 4.0.1, which depends on [Microsoft.Azure.WebJobs.Host.Storage](https://www.nuget.org/packages/Mi

[2022-10-31 14:05] ghost commented on #804
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-01 14:24] Ved2806 commented on #783
Hi @HMoen Is this resolved for you?

[2022-11-01 16:49] kshyju commented on #804
@mathewc Do you have any thoughts on why the build tries to write files to C drive?

[2022-11-02 13:29] HMoen commented on #783
@Ved2806 , has this been confirmed?

[2022-11-02 20:45] jviau commented on #799
Bringing in the full framework reference definitely could adversely impact cold start. We are also no longer bringing in the most minimal dependencies - which as a framework ourselves is important as we do not want to mislead customers on what we truly support. This is a known gap as AspNetCore does not lend itself to be nicely redistributed in a piece meal fashion. I don't expect us to address th

[2022-11-03 00:34] EthanSK commented on #14
updates?

[2022-11-03 08:57] mkp-bartsch commented on #14
Hello, yes more or less.
I have implemented a similar logic. This works in theory, but there are still unresolved issues with Azure Event Hub.
Azure Monitor logs write events and writes them to an Event Hub. An Event Hub triggered function consumes the events and copies files for which there is a FileClose event in the event log to an Azure Blob container. These files could then process in other w

[2022-11-03 13:48] Ved2806 commented on #786
Hi @mattchenderson Could you please check with this?

[2022-11-03 19:27] mattchenderson commented on #786
That's super interesting. Do other uses of AzureWebJobsStorage work correctly with identity?

@fabiocav, any ideas? Everything should be using the V12 Storage SDKs, but Microsoft.Azure.Storage.CloudStorageAccount implies an old version still being present somehow.

[2022-11-03 22:30] mattchenderson opened #807 "Add support for cron shortcuts"
Dapr does a nice thing where they support a few alternatives to cron expressions, such as "@daily" or "@every 5m". See https://docs.dapr.io/reference/components-reference/supported-bindings/cron/

This is a great way to simplify setup for common cases. Supporting something like this would make it easier for folks to get started with TimerTrigger. Getting started templates / examples should probabl

[2022-11-03 23:59] mattchenderson commented on #807
Noting a requirement specific to Functions - all SKUs should get this. Either the scaling infrastructure will need to update accordingly or something needs to be done in the metadata generation / synctriggers to convert these shortcuts into the right cron expressions

[2022-11-04 08:21] Ved2806 commented on #769
Hi @andersson09 Is it resolved for you?

[2022-11-04 08:24] Ved2806 commented on #783
Hi @shibayan Could you please confirm?

[2022-11-04 18:11] mathewc commented on #807
So we'd be doing a limited set of conversions, e.g.:

"@every 15s" => "*/15 * * * * *"
"@every 20m" => "0 */20 * * * *"
"@every 2h" => "0 0 */2 * * *"
"@daily" => "0 0 0 * * *"
"@hourly" => "0 0 * * * *"

I think we'd just have a shared converter that both the Timer extension and ScaleController use to do these conversions, leaving the actual schedule expression unmodified in the trigger payload/m

[2022-11-05 11:18] macel94 commented on #762
@ealsur - @Ved2806 i understand this is not high priority, but are you willing to accept PRs?
can i help?

[2022-11-06 17:09] shibayan commented on #783
@Ved2806 I believe it will be difficult to confirm until the new Cosmos DB Extension v4 goes GA.

The Cosmos DB Extension v4 should reach GA before the retries in Cosmos DB Extension v3 are removed from Azure Functions Runtime.
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.CosmosDB/

[2022-11-06 21:04] ghost commented on #799
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-07 14:52] ealsur commented on #783
For what it's worth, the `rc` package contains the code for the Retry Policy integration: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.CosmosDB/4.0.0-rc

[2022-11-07 15:01] inirudebwoy opened #808 "[FeatureRequest] Configuration for consistency level in CosmosDB binding"
Hello 👋

 In some cases we need to be sure that data has been saved, while in other we don't really care about it. The docs does not say what is the consistency level for this type of binding though. I'd like to propose an option to set consistency level for CosmosDB binding.

[2022-11-07 15:12] ealsur commented on #762
@MACEL94 I would avoid adding anything Emulator specific, because the Emulator is not meant to be used on production and it's just for local testing. And if this scenario is resolved in the future by a new Emulator version, then we'd have a flag that makes no sense.

Another potential idea could be to have an extension hook, like the `ICosmosDBSerializerFactory`:

https://gist.github.com/ealsur/d4

[2022-11-08 09:04] ghost commented on #786
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-08 09:04] ghost commented on #769
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-08 13:16] vlkchris commented on #786
Yes - I can work with blob and queue triggers using managed identity.
TimerTrigger needs old style connection string.

Chris

[2022-11-09 16:34] mattchenderson commented on #786
Thanks. That's very strange - we'll see if we can get to the root of that.

@fabiocav reassigning to you to identify someone on your team to take point here.

[2022-11-09 16:36] mattchenderson commented on #786
One thought - Timer does have that extra abstraction layer for its locking behavior. I wonder if that's the root of it. Maybe the implementation leveraged by WebJobs is defaulting to a different version of that than what we see in Functions, which should have timer working with identity just fine.

[2022-11-09 21:05] #799 closed, assigned to nobody

[2022-11-10 12:16] #695 closed

[2022-11-10 12:58] deniz-newday opened #809 "Specifying StartFromTime property doesn't work"
I think this is a problem with the `Microsoft.Azure.Cosmos` library and I have already raised this issue on their github.
If I provide `StartFromTime` it doesn't pick up any messages from the container even there are items which are newer than the specified date. But on the `CosmosDBTriggerListener` if I convert the parsed DateTime to UniversalTime, the messages are being picked up by the change f

[2022-11-11 10:05] #769 closed, assigned to Ved2806

[2022-11-14 14:13] ramya894 commented on #809
@deniz-newday would it be possible for you share us the function app name so that we can for the logs from our end.

[2022-11-14 14:24] ramya894 commented on #805
@karshinlin do you have any inputs here.

[2022-11-14 15:26] deniz-newday commented on #809
I don't think I can share the name since it's for work but it can be reproducable easily with the code above ^

[2022-11-14 15:39] hzlkarakus commented on #804
Hi @kshyju and @mathewc , is there any development regarding this issue? Thank you.

[2022-11-15 08:20] shibayan commented on #783
Retry policy works in v4.0.0-rc, but the scale controller no longer monitors Change Feed when used with Consumption Plan.

As a result, when a change occurs in the Change Feed, Azure Functions are not started and processing is not performed.

[2022-11-15 13:42] deniz-newday commented on #809
I've also raise this issue with https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3559

[2022-11-15 14:25] ealsur commented on #783
@shibayan That is the reason the package is not yet GA, Scale Controller support is not completed deployment yet (reference https://azure.microsoft.com/en-us/updates/azure-cosmos-db-azure-functions-extension-version-40-in-public-preview/)

[2022-11-16 17:18] karshinlin commented on #805
I have flagged this with our team. You will need to use the 5.x beta packages today for Timer Trigger to support the v12 storage SDKs. @mattchenderson for more input on the timeline for taking these packages out of GA

[2022-11-18 10:53] ramya894 commented on #809
@deniz-newday please follow the solution provided in the above repo, i,e the dedicated repo

[2022-11-18 11:18] deniz-newday commented on #809
@ramya894 sorry but could you please provide a link? I couldn't see the solution in the repo.

[2022-11-18 18:36] ealsur commented on #809
This will get solved once the fix in the SDK is done, there is no specific change that is required in this extension.

[2022-11-18 18:37] ealsur commented on #808
The binding uses the SDK, the SDK uses the account consistency.

So if your account is Strong, the binding will honor that. If the account is Eventual, the binding will honor that. It's not a binding level configuration, but an account level configuration.

[2022-11-21 08:38] inirudebwoy commented on #808
Thanks for reply. Yes it is but in some cases I’d like to lower the consistency level. It is possible when using SDK. Best regardsMichał KlichOn 18 Nov 2022, at 7:37 PM, Matias Quaranta ***@***.***> wrote:﻿
The binding uses the SDK, the SDK uses the account consistency.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message

[2022-11-21 14:46] ealsur commented on #808
Consistency cannot be decreased in all cases, adding a generic attributed called ConsistencyLevel would set the wrong expectations.

Because Consistency level can be relaxed only in a subset of operations, the alternative is that you can use the client directly through the binding if you want: https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-input?tabs=in-proc

[2022-11-25 15:14] inirudebwoy commented on #808
Thank you. Unfortunately we are using python and that seems to not be possible with python.  Best regardsMichał KlichOn 21 Nov 2022, at 3:47 PM, Matias Quaranta ***@***.***> wrote:﻿
Consistency cannot be decreased in all cases, adding a generic attributed called ConsistencyLevel would set the wrong expectations.
Because Consistency level can be relaxed only in a subset of operations, the alternati

[2022-11-25 15:30] ealsur commented on #808
I see. I am not aware of how Python works but if it does not have the access to the client, then it would not be possible to reduce the consistency through the bindings. Binding properties are generic for Input/Output, and reducing the consistency is only possible on a subset of these operations, adding the property there would make the user think it can be reduced in all.

[2022-11-26 10:14] inirudebwoy commented on #808
Makes sense. It would be great if python had same features as .net has. Best regardsMichał KlichOn 25 Nov 2022, at 4:30 PM, Matias Quaranta ***@***.***> wrote:﻿
I see. I am not aware of how Python works but if it does not have the access to the client, then it would not be possible to reduce the consistency through the bindings. Binding properties are generic for Input/Output, and reducing the con

[2022-11-28 23:37] BullFrog13 commented on #486
Any plans on resolving this? Still an issue for .net6.0 and Microsoft.Net.Sdk.Functions 4.0.1

Seems like lots of people are having this issue and are forced to manually bind the models with enums that comes from querystring.

[2022-11-28 23:40] BullFrog13 commented on #511
Still an issue for .net6.0 and Azure Functions 4.0.1.